.payment-page {
  padding: 20px;
  background-color: #fdfad4;
}
h2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  margin-left: 50px;
  color: #000000;
}
.payment-method {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
#label {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  margin-left: 30px;
}
.place {
  margin-left: 30px;
  display: block;
  margin-bottom: 5px;
  padding: 8px;
  background: #ffffff;
  width: 30%;
}
.success-button {
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #6c63ff;
  cursor: pointer;
  margin-left: 120px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
    margin-left: 20px;
  }
  .payment-method {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .payment-method input {
    margin-right: 10px;
  }
  #label {
    margin-left: 30px;
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .place {
    margin-left: 20px;
    width: 80%;
  }
  .success-button {
    margin-left: 60px;
    width: 50%;
    text-align: center;
  }
}
