body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5dc;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.product-details {
  display: flex;
  background-color: #fff5dc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  flex-wrap: wrap;
}
.left-column,
.right-column {
  flex: 1;
  padding: 5px;
}
.left-column img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}
.left-column {
  margin: 0;
}
.right-column {
  margin: 0;
}
.left-column h2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  margin-left: 80px;
  color: #000000;
}
.left-column p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin-left: 80px;
  color: #000000;
  text-align: left;
}
.button-control {
  display: flex;
  margin-left: 80px;
  color: #000000;
  font-weight: 600;
}
.button-control button {
  background: none;
  border: 1px solid #000;
  padding: 5px 10px;
  cursor: pointer;
}
.checkout-button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: #8f99fb;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 80px;
}
.prolist {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: #8f99fb;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
}
.right-column {
  display: flex;
  flex-direction: column;
}
.tabs {
  margin-bottom: 10px;
  flex-direction: row;
}
.tab {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.tab.active {
  background-color: red;
  color: white;
  border-radius: 4px;
}
.description,
.reviews {
  text-align: left;
}
.description h3,
.reviews .review-item .reviewer {
  margin-bottom: 5px;
}
.description p,
.description ul,
.reviews p {
  margin-top: 0;
}
.description ul {
  list-style-type: none;
  padding-left: 0;
}
.reviews .review-item {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .left-column,
  .right-column {
    width: 100%;
    order: unset; /* Ensure natural order */
  }

  .tabs {
    flex-direction: column;
    align-items: flex-start;
  }

  .tab {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
